requests
pandas
beautifulsoup4
lxml
selenium
tqdm
youtube-transcript-api
pytube
transformers
nltk
deep_translator
sacremoses
spacy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
fake-useragent